.cover {
    bottom: 78px;
    border-radius: 14px 14px 30px 30px;
    z-index: 7887678998789;
    box-shadow: 0 0 10px #ababab;
}

.icon {
    position: absolute;
    right: 0px;
}

.btn-send {
    top: -2px;
    right: 22px;
}
.btn-send:hover{
    scale: 0.9;
    transition: .3s;
}