@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 45 33% 97%;
    --foreground: 60 4% 9%;
    --card: 0 0% 100%;
    --card-foreground: 60 4% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 60 4% 9%;
    --primary: 22 86% 52%;
    --primary-foreground: 45 33% 97%;
    --primary-gradient: linear-gradient(90deg, hsl(22, 86%, 52%) 0%, hsl(35, 96%, 56%) 100%);
    --secondary: 32 58% 92%;
    --secondary-foreground: 22 86% 22%;
    --muted: 40 28% 93%;
    --muted-foreground: 60 3% 44%;
    --accent: 18 79% 43%;
    --accent-foreground: 32 58% 96%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 48 97% 54%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --primary-gradient: linear-gradient(90deg, hsl(48, 97%, 54%) 0%, hsl(43, 100%, 66%) 100%);
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    scroll-behavior: smooth;
  }

  .container {
    @apply mx-auto px-4 md:px-8 lg:px-16 xl:px-32;
  }

  .section-gap {
    @apply my-8 md:my-16;
  }

  .input-form {
    @apply w-[100%] h-[50px] outline-none p-4 pl-6 bg-gray-200 border-none rounded-md placeholder:tracking-wider placeholder:text-gray-500 placeholder:text-[15px]
  }

  .custom-scrollbar {
    @apply overflow-y-auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) orange;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply w-1
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary rounded
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-orange-500
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
